
@font-face {
    font-family: 'Lato-Regular';
    src: url('../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../../assets/fonts/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../../assets/fonts/Lato-Italic.ttf');
}